# Discord Webhook Configuration
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1505204982041808906/rgequKDK668fNbvZBHLP59yRvJ6_M8RgnlgrBKKHUMi92b-oV42hQtfB93rHjGhz5PU4
DISCORD_STATUS_WEBHOOK_URL=https://discord.com/api/webhooks/1505209419426693130/pHsRoXSVYDXYHjr69ZoBZJ0ujQWpHt6hkSZP_oyAtl8S0KCKoeuxDs32M-e25RfgH3G0
DISCORD_DEV_LOGS_WEBHOOK_URL=https://discord.com/api/webhooks/1505224175206273094/vo1Ai_jiabY1hOBB3m-Ip9_I6Ithf_71ERh6gTLLh9DhYICsjxnbpNgarprYYHrIMvZh
